body {
    font-family: 'Poppins', sans-serif;  
    font-size: 16px;
    color: #323232;
    line-height: 1.6875;
    background-color: #F3EEEA;
}

.container {
    max-width: 1240px;  // Изначально было 1100, но т.к. нужны паддинги со сторон, добавляем еще 40px
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px; // Добавляем паддинги т.к. на мобилках элементы будут прищемлены к краю экрана
    padding-right: 15px;
}